# Load Data

## Read from local csv File

In [4]:
import pandas as pd

# Display option
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

df = pd.read_csv('data/quotes.csv')
df.head(10)

   version_quote  source_id  quote_id                                               text  page            comment_quote license_quote                              doi_quote  language_quote                         crc_quote
0              0       7374    118647  *In der Nacht zum 5. Oktober 944 gab es eine t...  DONE   {GrotzfeldQuoteId/162}      cc-by-sa  10.6094/tambora.org/2016/c156/csv.zip             NaN  e5ee4f4d62d0c2189bc68cd1f566d97e
1              0       7374    122295  *Im Jahre 1214 H [5.6.1799-24.5.1800] drangen ...  DONE  {GrotzfeldQuoteId/3859}      cc-by-sa  10.6094/tambora.org/2016/c156/csv.zip             NaN  43ba286259ce3009472e74ebbe3a700f
2              0       7599    126295  Erster Regen Abend des 9. Ṣafar (16. Dez.)↵{#T...  DONE   {GrotzfeldQuoteId/494}      cc-by-sa  10.6094/tambora.org/2016/c156/csv.zip             NaN  d6e51acbec691662ab2073fae024d583
3              0       7374    121845  *Der Nachmittag und die Nacht des 22.4.1752 wa...  DONE  {GrotzfeldQuoteId/3400}      cc-by-sa  10.6094/tambora.org/2016/c156/csv.zip             NaN  84e560da507105cb23c11da0fb94676c
4              0       7374    118814  ★Im Jahr 440 H. ［16.06.1048-04.06.1049］ grassi...  DONE   {GrotzfeldQuoteId/330}      cc-by-sa  10.6094/tambora.org/2016/c156/csv.zip             NaN  ebb2f3aa39d9dc085d0ccaa3a0505f41
5              0       7374    118532  *Im Jahr 253 H. [11.01.-31.12.867] gab es eine...  DONE    {GrotzfeldQuoteId/46}      cc-by-sa  10.6094/tambora.org/2016/c156/csv.zip             NaN  1023f4231b63bc4a439bd50dfe6adb73
6              0       7374    118499  *Im Shawwal 208 H. [06.02.-05.03.824] gab es e...  DONE    {GrotzfeldQuoteId/13}      cc-by-sa  10.6094/tambora.org/2016/c156/csv.zip             NaN  c864805c56f47168c7f641a951b6b0ec
7              0       7374    121852  *Ab dem 18.5. war es klar und heiter bei frisc...  DONE  {GrotzfeldQuoteId/3406}      cc-by-sa  10.6094/tambora.org/2016/c156/csv.zip             NaN  9840a40e939dd4a3053c42b05e65808b
8              0       7374    118948  *Zu Beginn des Jahres 1308 gab es eine starke ...  DONE   {GrotzfeldQuoteId/463}      cc-by-sa  10.6094/tambora.org/2016/c156/csv.zip             NaN  6ac1e50eea4a45d6baf657e6cdf603a2
9              0       7374    118539  *Im Jahr 263 H. [24.09.876-12.09.877] gab es e...  DONE    {GrotzfeldQuoteId/53}      cc-by-sa  10.6094/tambora.org/2016/c156/csv.zip             NaN  f27e6a162426fb5d9f68ce50419d9caf

## Read from URL

In [10]:
url_csv = 'https://vincentarelbundock.github.io/Rdatasets/csv/boot/amis.csv'
df = pd.read_csv(url_csv)
df.head()

   Unnamed: 0  speed  period  warning  pair
0           1     26       1        1     1
1           2     26       1        1     1
2           3     26       1        1     1
3           4     26       1        1     1
4           5     27       1        1     1

## Read from Database

In [ ]:
import psycopg2 as pg
import pandas as pd

conn = pg.connect("host=localhost dbname=tambora user=postgres password=qCB9pob2")
df = pd.read_sql_query('SELECT * FROM tambora.grouping.quote WHERE project_id = 3;',con=conn)
df.head(10)

## Load Multiple Files to a Dataframe

In [24]:
df1 = pd.read_csv('data/quotes.csv', usecols=['source_id', 'quote_id', 'text', 'page'], index_col='quote_id' )
df2 = pd.read_csv('data/hisklid2_quotes.csv', usecols=[0,1,5,6], names=['quote_id', 'source_id', 'text', 'page'])
frames = [df1, df2]
result = pd.concat(frames, sort=False)
result

        source_id                                               text  page  quote_id
118647       7374  *In der Nacht zum 5. Oktober 944 gab es eine t...  DONE       NaN
122295       7374  *Im Jahre 1214 H [5.6.1799-24.5.1800] drangen ...  DONE       NaN
126295       7599  Erster Regen Abend des 9. Ṣafar (16. Dez.)↵{#T...  DONE       NaN
121845       7374  *Der Nachmittag und die Nacht des 22.4.1752 wa...  DONE       NaN
118814       7374  ★Im Jahr 440 H. ［16.06.1048-04.06.1049］ grassi...  DONE       NaN
...           ...                                                ...   ...       ...
51830         209  * C.C. Eidem, mit den Bürgern zu reden, daß si...   NaN    1749.0
51831         254  * War ein unerhörte erschrecklich anzusehende ...   NaN   24412.0
51832         620  * Den 6. dito [November] hat es zu früe von ta...   NaN   45032.0
51833         208  * Am 28 soll es zu Cracau und daherumb Bluth g...   NaN   48885.0
51834         540  * Den 14. und 15. September 1739 alles im Grun...   NaN   54523.0

[55717 rows x 4 columns]